.tech2-notebook .nb-output pre,
.tech2-notebook .nb-code pre {
  white-space: pre;
  overflow-x: auto;
}
.tech2-notebook .nb-code,
.tech2-notebook .nb-output {
  overflow-x: auto;
}
.tech2-notebook .nb-frame {
  width: 100%;
}
.tech2-notebook .nb {
  width: 100%;
  max-width: none;
}
.tech2-notebook {
  width: 90vw;
  max-width: 1200px;
  margin-left: calc(50% - 45vw);
}
@media (max-width: 1024px) {
  .tech2-notebook {
    width: 100%;
    margin-left: 0;
  }
}
.tech2-notebook .nb-output figure,
.tech2-notebook .nb-output img,
.tech2-notebook .nb-output svg,
.tech2-notebook .nb-output canvas {
  width: 100%;
  max-width: 100%;
}
